body, #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(7, 80px);
    gap: 1px;
    border-color: #1d2534;
    border: 10px solid #1d2534;
    border-radius: 20px;
}
  
.tile {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 1px solid #1d2534;
}