body, #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
  
.board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(7, 80px);
    gap: 1px;
}
  
.tile {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin: 0;
    padding: 0;
}